<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="../main.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>

    <div id="app">
      {{ message }}
    </div>

    <div id="app2">
      {{ message }}
      <span v-if="visible">Now you see me</span>
    </div>

    <div id="app3">
      <span v-bind:title="message">Hover me</span>
    </div>

    <div id="app4">
      <ol>
        <li v-for="item in todos" :key="item.id">
          {{ item.text }}
        </li>
      </ol>
    </div>

    <div id="app5">
      <p>{{ message }}</p>
      <button v-on:click="reverseMessage">Click Me</button>
    </div>

    <div id="app6">
      <p>{{ message }}</p>
      <input v-model="message" type="text" />
    </div>

    <script src="index.js"></script>
  </body>
</html>
